@model IEnumerable<Dictionary<string, object>>
@{
    var kolonlar = ViewBag.GridKolonlari as List<PersonelSistemi.Models.GridKolonModel>;

    var butonlar = ViewBag.GridButonlari as List<PersonelSistemi.Models.GridButonModel>;

    var controller = ViewContext.RouteData.Values["controller"]?.ToString();
}

<table class="table striped table-border mt-4">
    <thead>
        <tr>
            <th>Sıra No</th>
            @if (kolonlar != null)
            {
                @foreach (var kolon in kolonlar)
                {
                    <th>@kolon.Baslik</th>
                }
            }
            @if (butonlar != null && butonlar.Any())
            {
                <th>İşlemler</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any() && kolonlar != null)
        {
            int sayac = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@(sayac++)</td>
                    @foreach (var kolon in kolonlar)
                    {
                        <td>@item[kolon.VeriAlani!]</td>
                    }


                    @if (butonlar != null && butonlar.Any())
                    {
                        <td>
                            @foreach (var buton in butonlar)
                            {
                                var url = $"/{controller}/{buton.Aksiyon}/{item["objectid"]}";

                                @if (buton.OnayGerektirirMi)
                                {
                                    <button type="button" class="@buton.CssSinifi" onclick="silOnayi('@url')">@buton.Metin</button>
                                }
                                else
                                {
                                    <a href="@url" class="@buton.CssSinifi">@buton.Metin</a>
                                }
                            }
                        </td>
                    }
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="@((kolonlar?.Count ?? 0) + 2)" class="text-center fg-gray">Kayıt bulunamadı.</td>
            </tr>
        }
    </tbody>
</table>